<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
</head>

<body>

    <header>
        <div>
            <nav id="menu">
                    <a id="btnCadastro" href="/cadastro" pull-right>CADASTRO</a>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Projeto Pokedex</h1>

    <ul>
        <% pokedex.forEach(item => { %>
        <li><img src=<%= item.imagem %>><br>
        <%= item.nome %> <%= item.tipo %>
        </li>
        <% }) %>
    </ul>

    <footer>Projeto desenvolvido por Caroline Jeunon - Aluna Blue EdTech.</footer>  

</body>

</html>